
    <div class="librarian col-md-10 d-flex justify-content-center">

    <div class="about-me"><h3>WELCOME TO BIBLIO TECHIE</h3>
    <p>
My name is Cori. I created Biblio Techie as a way to help organize reading lists and help boost motivation to bust those 
lists out. I was an avid reader when I was younger, but that slowly changed as I got older. A goal of mine is to start
making a dent in my large physical and digital library like I use to do. <br>Biblio Techie helps keep track of not only your
current library and what you have already read, but what books you are itching to add it it. <br>Check out the Best Seller page to see what everyone is reading right now! <br><br>
If you're a little lost on where to start, check out my current book pile below. Who knows, maybe you'll find your new favorite story!
    </p>
    </div>

    <table class="librarian-table" style="width:100%">
        <tr>
            <th></th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <!-- <th class="fiction">FICTION/NONFICTION</th> -->
            <!-- <th ></th> -->
        </tr>
        <tr *ngFor = "let books of list">
            <td class="book-image"><img src="{{ books.book_image }}"></td>
            <td class="title">{{books.title}}</td>
            <td class="author">{{books.author}}</td>
            <!-- <td class="fiction">Type</td> -->
            <!-- <td class="button-position"><button class="button" type="button">ADD TO LIBRARY</button></td> -->
        </tr>
            
    </table>

</div>  
