
<div class="nyt-list col-md-12">

    <div class="about-me"><h3>NEW YORK TIMES CURRENT BEST SELLERS</h3>
    <p>
Curious about what books everyone is talking about right now?<br>
Browse New York Times current combined print & e-book fiction best sellers below for your next red hot romance or hair-raising adventure.<br>
Can't let those book clubs have all of the fun.
    </p>
    </div>

    <table class="nyt-table" style="width:100%">
        <tr>
            <th class= "book-image"></th>
            <th class="title-col">TITLE</th>
            <th class="author-col">AUTHOR</th>
            <th class="desc-col">DESCRIPTION</th>
        </tr>
        <tr *ngFor = "let book of listArray">
            <td class="book-image"><img src='{{ book.book_image }}'></td>
            <td class="author-col">{{ book.title | titlecase }}</td>
            <td class="author-col">{{ book.author }}</td>
            <td class="desc-col">{{ book.description }}</td>
        </tr>
       
    </table>

</div>  
