.image{
    background-image: url('C:\Users\My Shit\Code Projects\Biblio_Techie\BiblioTechie\src\assets\images\thought-catalog-o0Qqw21-0NI-unsplash (1).jpg');
   
        height:43em;
         background-size:cover; 
         width:auto;
        padding-top:10px;
        background-position:50% 50%;
      
}

.app{
    font-family:'Brandon Grotesque','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.container{
    justify-content:center;
}

/* .menu {
    position: fixed;
   width: 100%;
  } */