.bg{
    background-image: url('https://photos.google.com/photo/AF1QipPbDmEk0PpkUZaDXgiitUMOd_Uhq-3ljxdtOnGF');
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}