.bg{
    /* background-image: url(..\assets\thought-catalog-o0Qqw21-0NI-unsplash - Shortcut.lnk); */
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}