<div class="container">
    <div class="row">
        <div id="list-form" class="col-md-3">
            <h3>CURRENTLY <br>READING</h3>

            <form (ngSubmit)="onAddBook()" #f="ngForm">

                <div class="book-data" ngModelGroup="bookData" #bookData="ngModelGroup">
                    <input type="text" placeholder="TITLE" ngModel name="title" required><br>

                    <input type="text" placeholder="AUTHOR" ngModel name="author" required><br>

                    <!-- <input type="radio"  name="bookType" value="fiction">
                <label for="fiction">FICTION</label>     
                <input class="radioTwo" type="radio"  name="bookType" value="nonfiction">
                <label  for="nonfiction">NONFICTION</label><br> -->

                    <select id="type" ngModel required name="type">
                        <option value="" disabled selected>SELECT BOOK TYPE</option>
                        <option value="fiction">FICTION</option>
                        <option value="nonfiction">NONFICTION</option>
                    </select><br>

                    <!------>
                    <div class='radio-box'>

                        <div class="radio" *ngFor="let status of statuses" required>
                            <label>
                                <input type="radio" name="status" ngModel [value]="status">{{status}}
                            </label>
                        </div>

                    </div>
                    <!------>


                    <p *ngIf="!bookData.valid && bookData.touched">Book information is invalid</p>
                    <button class="btn btn-primary" [disabled]="!f.valid" type="submit">ADD TO LIBRARY</button>


                </div>
            </form>
            <p>{{userLibrary}}</p>
         
            <button class="btn btn-primary" [routerLink]="['/library']">GO TO LIBRARY</button>
        </div>
    </div>

<!--------->
    <div class="library-list col-md-12">

     <br>
        <table class="user-library" style="width:100%">
            <tr>
                <th class="title-col">TITLE</th>
                <th class="author-col">AUTHOR</th>
                <th class="fic-col">FICTION/NONFICTION</th>
                <th class="read-col">READ</th>
            </tr>
            <tr *ngFor="let books of userLibrary">
                <td class="book-image">{{books.title}}</td>
                <td class="author-col">{{books.author}}</td>
                <td class="fic-col">{{books.bookType}}</td>
                <td class="read-col"><input type="checkbox"  ngChecked = "books.readStatus == 'Read'" ></td>
            </tr>
    
        </table>
    
    </div>

    <!--------->
</div>