
  #list-form{
    margin-top: 10%;
    background-color: rgb(242, 242, 242);
    justify-content: center;
    padding:3px 7px 20px 7px;
    text-align: center;
  }
  
.title{
    color: black;
    font-size: 60px;
}

form{
    text-align: center;
    
}

h3{
    text-align: center;
    color:  rgb(40, 40, 40);;
}


  input[type="text"], select {  
    width: 75%;
    color: rgb(114, 113, 113);
    font-size: 10px;
    padding: 3px 0px 3px 0px;
  }

  
input, select{
    margin: 0px 0px 10px 0px;
}

input[type="radio"] {  
    margin-right: 5px;
    color:  rgb(40, 40, 40);;
  }

  .radioTwo{
margin-left: 10px;
  }

  
.btn {
    background-color: rgb(40, 40, 40);
   font-size: 9px;
   border: none;
   padding: 7px 25px 7px 25px;
    color: rgb(242, 242, 242);
    transition-duration: 0.4s;
     margin: 10px 15px 0px 0px;

}
  
.btn:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(36, 36, 36);
    border:none;
  }

  input.ng-invalid.ng-touched,  select.ng-invalid.ng-touched{
    border: 1px solid red;
  }